{% extends 'base.html' %}
{% block content %}

<h1>Note Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ note.name }}</span>
        <p>Note Type: {{ note.category }}</p>
        <p>Description: {{ note.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'notes_update' note.id %}">Edit</a>
        <a href="{% url 'notes_delete' note.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}