{% extends 'base.html' %}
{% block content %}

<h1>Fragrance List</h1>

{% for fragrance in fragrances %}
  <div class="card">
    <a href = "{% url 'detail' fragrance.id %}">
        <div class="card-content">
        <span class="card-title">{{ fragrance.name }}</span>
        <p>Brand: {{ fragrance.brand }}</p>
        <p>Description: {{ fragrance.description }}</p>
        {% if cat.age > 0 %}
            <p>Age: {{ fragrance.release_year }}</p>
        {% else %}
            <p>Release Year: Unknown</p>
        {% endif %}
        </div>
    </a>
  </div>

{% endfor %}
{% endblock %}